USE [master]
GO
/****** Object:  Database [pastelDB]    Script Date: 29/06/2019 14:28:38 ******/
CREATE DATABASE [pastelDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pastelDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\pastelDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'pastelDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\pastelDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pastelDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pastelDB]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 29/06/2019 14:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[DNI] [varchar](50) NOT NULL,
	[usuario] [varchar](50) NULL,
	[clave] [varchar](50) NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pasteleria]    Script Date: 29/06/2019 14:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pasteleria](
	[idpasteleria] [int] IDENTITY(1,1) NOT NULL,
	[idcliente] [varchar](50) NULL,
	[idplato] [int] NULL,
 CONSTRAINT [PK_pasteleria] PRIMARY KEY CLUSTERED 
(
	[idpasteleria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[platos]    Script Date: 29/06/2019 14:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[platos](
	[idplatos] [int] IDENTITY(1,1) NOT NULL,
	[postre] [varchar](50) NULL,
	[nombre] [varchar](50) NULL,
	[precio] [money] NULL,
 CONSTRAINT [PK_platos] PRIMARY KEY CLUSTERED 
(
	[idplatos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productoT]    Script Date: 29/06/2019 14:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productoT](
	[idproducto] [int] IDENTITY(1,1) NOT NULL,
	[idcompania] [varchar](50) NULL,
	[idplato] [varchar](50) NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [PK_productoT] PRIMARY KEY CLUSTERED 
(
	[idproducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedoresT]    Script Date: 29/06/2019 14:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedoresT](
	[idcompania] [int] IDENTITY(1,1) NOT NULL,
	[empresa] [varchar](50) NULL,
	[producto] [varchar](50) NULL,
 CONSTRAINT [PK_proveedoresT] PRIMARY KEY CLUSTERED 
(
	[idcompania] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pasteleria]  WITH NOCHECK ADD  CONSTRAINT [FK_pasteleria_cliente] FOREIGN KEY([idcliente])
REFERENCES [dbo].[cliente] ([DNI])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[pasteleria] NOCHECK CONSTRAINT [FK_pasteleria_cliente]
GO
ALTER TABLE [dbo].[pasteleria]  WITH NOCHECK ADD  CONSTRAINT [FK_pasteleria_platos] FOREIGN KEY([idplato])
REFERENCES [dbo].[platos] ([idplatos])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[pasteleria] NOCHECK CONSTRAINT [FK_pasteleria_platos]
GO
ALTER TABLE [dbo].[productoT]  WITH NOCHECK ADD  CONSTRAINT [FK_productoT_proveedoresT] FOREIGN KEY([idproducto])
REFERENCES [dbo].[proveedoresT] ([idcompania])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[productoT] NOCHECK CONSTRAINT [FK_productoT_proveedoresT]
GO
USE [master]
GO
